


.erert .ant-card-body{
    padding-bottom:0px;
    padding: 24px 24px 0px 24px!important;
}
.erert .ant-tabs-bar{
    margin-bottom: 0px;
}

.erert .ant-form-item-label label{
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
    font-size: 14px;
    /* word-break: keep-all; */
    color: rgba(0,0,0,0.85);
    line-height: 20px;
}

.yuyuyuy .ant-card-body{
    padding: 5px 0px;
    padding-bottom: 0px;
}

.contractTemplatetoolbar{
    position: relative;
    /* top: 28px; */
    text-align: right;
    z-index: 999;
    width: 100px;
    float: right;
    margin-right: 26px;
    bottom: 3px;
}

.erert button:nth-child(2)
{
    background:#fff;
}
.erer{
    text-align: right!important;
    color: #1890FF;
    font-size: 14px;
    position: absolute;
    top: 18px;
    right: 56px;
    width: 30px;
    cursor: pointer;
}

.vertical-center-modal>.ant-modal{
    width: 540px!important;
}