.level{
    width: 60px;
    padding-top: 12px;
    float: right;
    margin-right: 40px;
}
.level .level_area{
    height: 4px;
}
.level .level_area li{
    float: left;
    width: 18px;
    margin-right: 2px;
    height: 4px;
    background: #E9E9ED;
}
.level .level_area li.active1{
    background: #E4393C;
}
.level .level_area li.active2{
    background: #FAAD14;
}
.level .level_area li.active3{
    background: #52C41A;
}
.level_tip {
    margin-top: 4px;
    line-height: 12px;
    font-size: 14px;
    color: #999;
}
.level_tip span{
    font-size: 14px!important;
}
.level_tip span.active1{
    color: #E4393C;
}
.level_tip span.active2{
    color: #FAAD14;
}
.level_tip span.active3{
    color: #52C41A;
}

