.cards .ant-table-pagination {
    display: none;
}
.baseForm {
    display: flex;
}
.topBtn {
    margin-top: -4px;
    width: 70px;
    height: 28px;
    margin-right: 10px;
}
.pageRight {
    display: flex;
}
.resetForm {
    margin-top: -4px;
    width: 70px;
    height: 28px;
}
.titleAll {
    margin-bottom: 15px;
    z-index: 999;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}