.modal_title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}
.order .info {
  position: relative;
}
.order .info .info_status {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  min-width: 400px;
  z-index: 1;
}
