.orderTable .head {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}
.orderTable .head .headTitle {
  padding: 15px 20px;
}
.orderTable .head .headSort {
  border-top: 1px solid #d9d9d9;
  padding: 15px 20px;
  overflow: hidden;
}
.orderTable .head .headSort .sortItem {
  float: left;
}
.orderTable .head .headSort .sortItem + .sortItem {
  margin-left: 30px;
}
.orderTable .head .headSort .sortItem .sorter {
  margin-left: 4px;
  margin-top: -4px;
  display: inline-block;
  width: 12px;
  height: 18px;
  vertical-align: middle;
  text-align: center;
}
.orderTable .head .headSort .sortItem .sorter .is_sort {
  color: #2DB7F5;
}
.orderTable .head .headSort .sortItem .sorter .sorter_icon {
  line-height: 4px;
  height: 8px;
  display: block;
  width: 12px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.orderTable .head .headSort .sortItem .sorter .sorter_icon:hover {
  color: #2DB7F5;
}
.orderTable .head .headSort .sortItem .sorter .sorter_icon i {
  transform: scale(0.6) rotate(0deg);
}
.orderTable .head .headSort .sortItem .filter {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 18px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}
.orderTable .head .headSort .sortItem .filter.is_filter {
  color: #2DB7F5;
}
.orderTable .head .headSort .sortItem .filter:hover {
  color: #2DB7F5;
}
.orderTable .body .row {
  box-sizing: border-box;
  margin: 16px 0;
  transition: outline 0.3s, box-shadow 0.3s;
}
.orderTable .body .row:hover {
  box-shadow: 0 0 5px #2DB7F5;
}
.orderTable .body .row .row_head {
  box-sizing: border-box;
  padding: 12px 20px;
  background-color: #FAFAFA;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  white-space: nowrap;
}
.orderTable .body .row .row_head .head_item {
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0 10px;
}
.orderTable .body .row .row_head.no_list {
  border-bottom: 1px solid #d9d9d9;
}
.orderTable .body .row .row_body .row_body_content .not_tatalist {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: #999;
}
.orderTable .body .row .row_body table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
}
.orderTable .body .row .row_body thead {
  height: 0;
  border: none;
  overflow: hidden;
}
.orderTable .body .row .row_body thead th {
  border: none;
  overflow: hidden;
}
.orderTable .body .row .row_body tr:hover {
  background-color: #EAF8FE;
}
.orderTable .body .row .row_body th,
.orderTable .body .row .row_body td {
  border: 1px solid #d9d9d9;
}
.orderTable .body .row .row_body td {
  padding: 20px;
}
.orderTable .body .row .open {
  text-align: center;
  padding: 12px 0;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  margin-top: -1px;
  cursor: pointer;
}
.orderTable .body .row .open .open_icon {
  transform: rotate(90deg);
}
.orderTable .body .row .open .open_icon.open_icon_up {
  transform: rotate(-90deg);
}
.orderTable .footer {
  overflow: hidden;
  margin-top: 15px;
}
.orderTable .footer .pagination {
  float: right;
}
