/* 设备信息 */
.device {
  width: 992px;
  height: 122px;
  background: #FFFFFF;
  padding-left: 24px;
  margin-bottom: 8px;
}
.device .content {
  display: flex;
}
.device .content>div{
  width: 250px;
  height: 34px;
  font-size: 14px;
  color: #333333;
  line-height: 34px;
}
.device .content>a{
  font-size: 14px;
  color: #2DB7F5;
  height: 34px;
  line-height: 34px;
}
/* 台账信息 */
.info {
  width: 992px;
  min-height: 300px;
  background: #FFFFFF;
  padding: 0 24px 24px 24px;
  margin-bottom: 8px;
}
.info .content {
  display: flex;
  flex-wrap: wrap;
}
.info .content .item {
  width: 450px;
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #333333;
}
.info .content .remarks {
  display: flex;
  width: 450px;
  font-size: 14px;
  color: #333333;
  margin-top: 10px;
}
.info .content .remarks>span {
  display: block;
  width: 70px;
}
.info .content .remarks>div {
  width: 588px;
  height: 185px;
  line-height: 28px;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* 资产图片 */
.goods_images {
  width: 992px;
  height: 253px;
  background: #FFFFFF;
  padding: 0 24px 24px 24px;
  margin-bottom: 8px;
}
.goods_images .box {
  display: flex;
  align-items: center;
}
.goods_images .left {
  width: 34px;
  height: 34px;
  background-image: url("../../static/img/twbureau/left@2x.png");
  background-size: cover;
  margin-right: 24px;
  cursor: pointer;
}
.goods_images .right {
  width: 34px;
  height: 34px;
  background-image: url("../../static/img/twbureau/right@2x.png");
  background-size: cover;
  margin-left: 24px;
  cursor: pointer;
}
.goods_images .slider {
  position: relative;
  width: 826px;
  height: 151px;
  background: rgba(45, 183, 245, 0.05);
  border-radius: 4px;
  overflow: hidden;
}
.goods_images #images {
  display: flex;
  width: 826px;
  height: 151px;
  position: absolute;
  left: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari 和 Chrome */
  -o-transition: all 0.5s; /* Opera */
}
.goods_images #images li {
  margin: 24px 10px 0 14px;
}
.goods_images #images li>img{
  width: 113px;
  height: 103px;
}
/* 附件 */
.enclosure {
  width: 992px;
  height: 185px;
  background: #FFFFFF;
  padding: 0 24px 24px 24px;
  margin-bottom: 8px;
}
.enclosure .box {
  display: flex;
}
.enclosure .box .item {
  width: 146px;
  height: 89px;
  border-radius: 4px;
  border: 1px solid #F4FBFE;
  margin-right: 24px;
  font-size: 14px;
  color: #2DB7F5;
  padding: 14px;
}
.enclosure .box .item:hover {
  background: rgba(45, 183, 245, 0.05);
}
/* 物资循环明细  物资循环日志*/
.circle,.log{
  width: 992px;
  min-height: 300px;
  background: #FFFFFF;
  padding: 0 24px 24px 24px;
  margin-bottom: 8px;
}
/* 申请人信息 */
.apply {
  width: 992px;
  height: 208px;
  background: #FFFFFF;
  padding-left: 24px;
  margin-bottom: 8px;
}
.apply .content {
  display: flex;
  flex-wrap: wrap;
}
.apply .content>div {
  width: 400px;
  height: 34px;
  font-size: 14px;
  color: #333333;
  line-height: 34px;
}
/* 备注 */
.remark {
  width: 992px;
  height: 281px;
  background: #FFFFFF;
  padding-left: 24px;
  margin-bottom: 8px;
}
.remark .content {
  width: 905px;
  height: 185px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
/* 审批流程 */
.audit {
  width: 992px;
  min-height: 332px;
  background: #FFFFFF;
  padding-left: 24px;
  margin-bottom: 8px;
}
.audit .process {
  padding: 0 38px 38px 100px;
}
.audit .process .item .head {
  display: flex;
}
.audit .process .item .head>div{
  width: 20px;
  height: 20px;
}
.audit .process .item .head>span {
  font-size: 14px;
  color: #333333;
  padding-left: 12px;
}
.audit .process .item .content {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 61px;
  margin: 7px 10px;
  padding-left: 21px;
}
.audit .process .item .content>div {
  font-size: 14px;
  color: #999999;
  margin-right: 24px;
}
.audit .process .agree .head>div {
  background: url("../../static/img/twbureau/agree@2x.png");
  background-size: cover;
}
.audit .process .agree .content {
  border-left: 2px solid #6CD201;
}
.audit .process .refuse .head>div {
  background: url("../../static/img/twbureau/refuse@2x.png");
  background-size: cover;
}
.audit .process .refuse .content {
  border-left: 2px solid #E40407;
}
.audit .process .waitting .head>div {
  background: url("../../static/img/twbureau/waitting@2x.png");
  background-size: cover;
}
.audit .process .waitting .content {
  border-left: 2px solid #D6D6D6;
}
.audit .process .item:last-child .content {
  border-left: none;
}
.audit .process .item .content .name {
  width: 60px;
}
.audit .process .item .content .date {
  width: 134px;
}
.audit .process .item .content .status {
  width: 60px;
}
.audit .process .item .content .explain {
  width: 320px;
}
/* 底部 */
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 992px;
  height: 80px;
  background: #FFFFFF;
}
/* 页面样式 */
.title {
  line-height: 60px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}
.title .export {
  float: right;
  margin-top: 14px;
}