.ant-modal-header {
  height: 45px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
}
.ant-modal-footer {
  border-top: none;
}
.ant-modal-content {
  border-radius: 4px;
}