.scrollTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #848484;
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  transition: background-color 0.3s;
}
.scrollTop.into {
  animation: scrollInto 0.2s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.scrollTop.out {
  animation: scrollOut 0.2s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.scrollTop:hover {
  background-color: #2db7f5;
  opacity: 0.7;
}
.scrollTop:active {
  opacity: 1;
}
@keyframes scrollInto {
  0% {
    opacity: 0;
    bottom: 0px;
  }
  100% {
    opacity: 1;
    bottom: 50px;
    display: block;
  }
}
@keyframes scrollOut {
  0% {
    opacity: 1;
    bottom: 50px;
  }
  100% {
    opacity: 0;
    bottom: 0px;
    display: none;
  }
}
